<!--
 NEW BOX (bottom_box)(under base_link): .195 .195 0.09
 Camera: 0.05 0.05 0.05 box below the bottom_box
 LEGS: z: 0.1 0.05 0.250


-->
<?xml version="1.0"?>
<robot name="pauvsi_m7_robot">

	<!-- colors -->

	<material name="green">
		<color rgba="0.05 0.9 0.05 1" />
	</material>

	<material name="blue">
		<color rgba="0.01 0.01 0.9 1" />
	</material>

	<material name="red">
		<color rgba="0.9 0.01 0.01 1" />
	</material>

	<material name="gray">
		<color rgba="0.6 0.6 0.6 1" />
	</material>

	<material name="black">
		<color rgba="0.05 0.05 0.05 1" />
	</material>

	<material name="white">
		<color rgba="0.9 0.9 0.9 1" />
	</material>

	<material name="carbon">
		<color rgba="0.2 0.2 0.2 1" />
	</material>

	<link name="base_link">
			<collision>
			<geometry>
				<box size="0.25 0.25 0.07"/>
				</geometry>
			</collision>
		<visual>
			<origin xyz=“0 0 0” rpy=“1.57079632679 0 0”/>
			<geometry>
				<mesh filename="package://m7_master/mesh/m7v3-assembly_centered.stl” scale="0.001 0.001 0.001"/>
			</geometry>
			<material name=“carbon”/>
		</visual>

		<!-- this is the only actual inertia calculation other than the arm-->
		<inertial>
			<mass value="4.5"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<!-- APPROXIMATED AS 0.4 0.4 0.1 CUBOID-->
			<inertia ixx="0.24375" ixy="0" ixz="0" iyy="0.24375" iyz="0" izz="0.48" />
		</inertial>

	</link>
	
	<link name="bottom_box">
	<collision>
	<geometry>
				<box size="0.195 0.215 0.09" />
				</geometry>
			</collision>
		

		<!--filler inertia no effect-->
		<inertial>
     		 	<mass value="1e-9" />
      			<origin xyz="0 0 0" rpy="0 0 0"/>
      			<inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9" />
    		</inertial>
	</link>
	
	<joint name="base_to_bottom" type="fixed">
		<parent link="base_link" />
		<child link="bottom_box" />
		<origin xyz="0 0.02 -0.09" />
	</joint>	
		
	<!-- BOTTOM Camera -->
	
	<link name="bottom_camera">
	<collision>
	<geometry>
				<box size="0.05 0.05 0.15" />
				</geometry>
			</collision>
		

	</link>
	
	<joint name="base_to_bottom_camera" type="fixed">
		<parent link="base_link" />
		<child link="bottom_camera" />
		<origin xyz="0.054 -0.029 -0.13" rpy="0 3.14159265359 1.57079632679"/>
	</joint>


	


	<!-- FRONT Camera -->
	
	<link name="front_camera">
	<collision>
	<geometry>
				<box size="0.05 0.05 0.15" />
				</geometry>
			</collision>
		

	</link>
	
	<joint name="base_to_front_camera" type="fixed">
		<parent link="base_link" />
		<child link="front_camera" />
		<origin xyz="0 0.142 0" rpy="-1.57079632679 0 0"/>
	</joint>
	

	<!-- RIGHT Camera -->
	
	<link name="right_camera">
	<collision>
	<geometry>
				<box size="0.05 0.05 0.15" />
				</geometry>
			</collision>
		

	</link>
	
	<joint name="base_to_right_camera" type="fixed">
		<parent link="base_link" />
		<child link="right_camera" />
		<origin xyz="0.142 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
	</joint>

	
	<!-- BACK Camera -->
	
	<link name="back_camera">
	<collision>
	<geometry>
				<box size="0.05 0.05 0.15" />
				</geometry>
			</collision>
		
	</link>
	
	<joint name="base_to_back_camera" type="fixed">
		<parent link="base_link" />
		<child link="back_camera" />
		<origin xyz="0 -0.142 0" rpy="1.57079632679 3.14159265359 0"/>
	</joint>

	<!-- LEFT Camera -->
	
	<link name="left_camera">
	<collision>
	<geometry>
				<box size="0.05 0.05 0.15" />
				</geometry>
			</collision>
		
	</link>
	
	<joint name="base_to_left_camera" type="fixed">
		<parent link="base_link" />
		<child link="left_camera" />
		<origin xyz="-0.142 0 0" rpy="1.57079632679 3.14159265359 -1.57079632679"/>
	</joint>

	
	<!-- Arbotix -->
	
	<link name = "arbotix">
	<collision>
	<geometry>
				<box size="0.06 0.06 0.02" />
				</geometry>
			</collision>
		
	</link>
	
	<joint name="bottom_to_arbotix" type="fixed">
		<parent link="bottom_box" />
		<child link="arbotix" />
		<origin xyz="0.048 0.0343 -0.055" />	
	</joint>
	
	<!-- Antenna -->
	
	<link name ="antenna">
	<collision>
	<geometry>
				<box size="0.06 0.06 0.07" />
				</geometry>
			</collision>
		
	</link>
	 
	<joint name="bottom_to_antenna" type="fixed">
		<parent link="bottom_box" />
		<child link="antenna" />
		<origin xyz="0.038 0.0943 -0.08" />
	</joint>
	
	<!-- ARMS -->
	
	<link name="arm1_link">
	<collision>
	<geometry>
				<cylinder length="0.334" radius="0.036"/>
				</geometry>
				<origin rpy="0 1.57075 0.7853981" xyz="0 0 0"/>
			</collision>
		
	</link>
	
	<joint name="base_to_arm1" type="fixed">
		<parent link="base_link"/>
		<child link="arm1_link"/>
		<origin xyz="0.18 0.18 0"/>
	</joint>
	
	<link name="arm2_link">
	<collision>
	<geometry>
				<cylinder length="0.334" radius="0.036"/>
				</geometry>
				<origin rpy="0 1.57075 2.3561481" xyz="0 0 0"/>
			</collision>
		
	</link>
	
	<joint name="base_to_arm2" type="fixed">
		<parent link="base_link"/>
		<child link="arm2_link"/>
		<origin xyz="0.18 -0.18 0"/>
	</joint>
	
	<link name="arm3_link">
	<collision>
	<geometry>
				<cylinder length="0.334" radius="0.036"/>
				</geometry>
				<origin rpy="0 1.57075 -2.3561481" xyz="0 0 0"/>
			</collision>
		
	</link>
	
	<joint name="base_to_arm3" type="fixed">
		<parent link="base_link"/>
		<child link="arm3_link"/>
		<origin xyz="-0.18 -0.18 0"/>
	</joint>
	
	<link name="arm4_link">
	<collision>
	<geometry>
				<cylinder length="0.334" radius="0.036"/>
				</geometry>
				<origin rpy="0 1.57075 2.3561481" xyz="0 0 0"/>
			</collision>
	
	</link>
	
	<joint name="base_to_arm4" type="fixed">
		<parent link="base_link"/>
		<child link="arm4_link"/>
		<origin xyz="-0.18 0.18 0"/>
	</joint>
	
	<!--LEGS-->
	
	<link name="leg1_link">
	<collision>
	<geometry>
				<box size="0.165 0.05 0.250" />
				</geometry>
				<origin xyz="0 0 -0.25" />
			</collision>
		
	</link>
	
	<joint name="arm_to_leg1" type="fixed">
		<parent link="base_link" />
		<child  link="leg1_link" />
		<origin rpy="0 0 0.7854 " xyz="0.272885 0.272885 0.1" />
	</joint>
	
	<link name="leg2_link">
	<collision>
	<geometry>
				<box size="0.165 0.05 0.250" />
				</geometry>
				<origin xyz="0 0 -0.25" />
			</collision>
		
	</link>
	
	<joint name="arm_to_leg2" type="fixed">
		<parent link="base_link" />
		<child  link="leg2_link" />
		<origin rpy="0 0 2.3562 " xyz="0.272885 -0.272885 0.1" />
	</joint>
	
	<link name="leg3_link">
	<collision>
	<geometry>
				<box size="0.165 0.05 0.250" />
				</geometry>
				<origin xyz="0 0 -0.25" />
			</collision>
		
	</link>
	
	<joint name="arm_to_leg3" type="fixed">
		<parent link="base_link" />
		<child  link="leg3_link" />
		<origin rpy="0 0 0.7854" xyz="-0.272885 -0.272885 0.1" />
	</joint>
				
	<link name="leg4_link">
	<collision>
	<geometry>
				<box size="0.165 0.05 0.250" />
				</geometry>
				<origin xyz="0 0 -0.25" />
			</collision>
		
	</link>
	
	<joint name="arm_to_leg4" type="fixed">
		<parent link="base_link" />
		<child  link="leg4_link" />
		<origin rpy="0 0 2.3562 " xyz="-0.272885 0.272885 0.1" />
	</joint>			
	
	<!-- MOTORS -->
	
	<link name="motor1_link">
	<collision>
	<geometry>
				<cylinder length="0.01" radius="0.2286" />
				</geometry>
			</collision>
		
	</link>
	<joint name="motor1_to_arm1" type="fixed" >
		<parent link="base_link"/>
		<child link="motor1_link"/>
		<origin xyz="0.282885 0.282885 0.06"/>
	</joint>
	
	<link name="motor2_link">
	<collision>
	<geometry>
				<cylinder length="0.01" radius="0.2286" />
				</geometry>
			</collision>
		
	</link>
	<joint name="motor2_to_arm2" type="fixed" >
		<parent link="base_link"/>
		<child link="motor2_link"/>
		<origin xyz="0.282885 -0.282885 0.06"/>
	</joint>
	
	<link name="motor3_link">
	<collision>
	<geometry>
				<cylinder length="0.01" radius="0.2286" />
				</geometry>
			</collision>
		
	</link>
	<joint name="motor3_to_arm3" type="fixed" >
		<parent link="base_link"/>
		<child link="motor3_link"/>
		<origin xyz="-0.282885 -0.282885 0.06"/>
	</joint>
	
	<link name="motor4_link">
	<collision>
	<geometry>
				<cylinder length="0.01" radius="0.2286" />
				</geometry>
			</collision>
		
	</link>
	<joint name="motor4_to_arm4" type="fixed" >
		<parent link="base_link"/>
		<child link="motor4_link"/>
		<origin xyz="-0.282885 0.282885 0.06"/>
	</joint>
	
</robot>
