<launch>
	
	<node name="flightControllerSerial" pkg="rosserial_python" type="serial_node.py" output="screen">
		<param name="port" value="/dev/ttyACM0" />
		<param name="baud" value="57600" />
	</node>
	
	<arg name="camera_name" default="m7/camera" />
 	<group ns="$(arg camera_name)">
 	
 		<arg name="camera_serial" default="15374749" />
  		<arg name="calibrated" default="1" />
 	
    	<node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    	<node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" output="screen">
      	<param name="frame_id" value="$(arg camera_name)" />
      	<param name="serial" value="$(arg camera_serial)" />

      	<!-- When unspecified, the driver will use the default framerate as given by the
        	   camera itself. Use this parameter to override that value for cameras capable of
           	other framerates. -->

      	<param name="frame_rate" value="30" />
	<param name="auto_shutter" value="true"/>
	<param name="auto_gain" value="false"/>
	<param name="auto_exposure" value="false"/>
	<param name="auto_white_balance" value="false"/>

      	<!-- Use
 the camera_calibration package to create this file -->
      	<param name="camera_info_url" if="$(arg calibrated)"
             	value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial).yaml" />
    	</node>

    	<node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          	args="load image_proc/debayer camera_nodelet_manager">
    	</node>
    	
    	<node pkg="nodelet" type="nodelet" name="image_proc_rectify"
          args="load image_proc/rectify camera_nodelet_manager">
    	</node>
	</group>

</launch>

